<h1>LISTADO DE USUARIOS</h1>
<hr />
<br />
<br />
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <input type="text" [(ngModel)]="Nombres" />
      <input type="text" [(ngModel)]="Apellidos" />
      <input type="text" [(ngModel)]="Direccion" />
      <input type="text" [(ngModel)]="Edad" />
      <input type="text" [(ngModel)]="Correo" />
      <button type="submit" (click)="agregarUsuario()" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">Submit
      </button>
  </div>
  <div class="col-md-2"></div>

  <br /><br />
  <hr />
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Dirección</th>
          <th>Edad</th>
          <th>Correo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listadoUsuarios">
          <td>{{ usuario.Id }}</td>
          <td>{{ usuario.Nombres }}</td>
          <td>{{ usuario.Apellidos }}</td>
          <td>{{ usuario.Direccion }}</td>
          <td>{{ usuario.Edad }}</td>
          <td>{{ usuario.Correo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>
